.page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0.25turn, #AAF1E3, #7ABACD); /* Novo gradiente */
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 120px 20px 20px; /* Espaço para o header fixo */
  border-radius: 10px;
}

.titulo {
  font-size: 28px; /* Título maior */
  font-weight: bold;
  margin-bottom: 30px; /* Mais espaçamento abaixo do título */
  color: #333;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.infoBasica, .descricao {
  background: #fff;
  padding: 30px; /* Mais espaço interno */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombras levemente mais fortes */
  flex: 1;
}

.infoBasica {
  flex: 2; /* Painel branco maior */
}

.infoBasica p, .descricao p {
  margin: 15px 0; /* Maior espaçamento entre linhas */
  font-size: 18px; /* Tamanho maior para os textos */
  color: #444; /* Cor levemente mais escura */
}

.infoBasica p strong, .descricao strong {
  font-size: 20px; /* Títulos dos campos maiores */
  color: #333; /* Cor mais destacada */
}

.descricao {
  flex: 3; /* Descrição proporcionalmente maior */
}
